/* Google Fonts

font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;
*/

/* G E N E R A L */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}
h2, h3 {
	font-family: roboto-slab, serif;
}
h1, p {
	font-family: roboto, sans-serif;
}
a {
	color: #ff0055;
}

.none {
	display: none;
}

#modalBackground {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: RGBa(0,0,0,0.5);
}

/* NAV */
.navbar-default {
	background-color: #fff;
	background-image: none;
}
.btn-connect {
	margin-left: 20px;
}

/* COVER */
.cover-container {
	background-size: cover;
	margin-bottom: 30px;
}

.cover-index {
	background-image: url(../../Medias/colis-cover.jpeg);
}
.cover-form {
	background-image: url(../../Medias/inscription-cover.jpg);
}
.cover-cgu {
	background-image: url(../../Medias/cgu.jpeg);
}
.cover-profile {
	background-image: url(../../Medias/profile.jpeg);
}
.cover-colivoiturage {
	background-image: url(../../Medias/colivoiturage-cover.jpeg);
}
.cover-localiser {
	background-image: url(../../Medias/map.jpg);
}
.cover-contact {
	background-image: url(../../Medias/contact-cover.jpeg);
}
.cover-suivi {
	background-image: url(../../Medias/suivi-cover.jpg);
}

/* FEATURETTE */
.featurette-divider {
	margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* INSCRIPTION */
#inscription-form {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* PROFIL */
.icon-left {
    left: 10%;
}

/* FORM */
.btn-primary {
	background-image: -webkit-linear-gradient(top,#FF3273 0,#FF0055 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#FF3273),to(#FF0055));
	background-image: linear-gradient(to bottom, #FF3273 0,#FF0055 100%);

	border-color: #ff0055;
	background-repeat: no-repeat;
}

.btn-primary:hover , .btn-primary:focus {
	background-image: -webkit-linear-gradient(top,#FF3273 0,#EC004F 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#FF3273),to(#EC004F));
	background-image: linear-gradient(to bottom, #FF3273 0,#EC004F 100%);
	background-color: #EC004F;
	border-color: #ff0055;
}

.material-icons {
	display: block;
	float: left;
	position: absolute;
}

/* ENVOYER */
.tr-extra-prices {
    padding-top: 5px;
    padding-left: 40px;
}

.cursor-hover {
	margin-right: 10px;
	cursor: pointer;
}

.etape {
	background-size: cover;
	height: 200px;
}

.btn-envoi {
	padding-top: 5em;
	padding-bottom: 5em;
}

.etape-1 {
	background-image: url("../../Medias/etape-1.svg");
}
.etape-2 {
	background-image: url("../../Medias/etape-2.svg");
}
.etape-3 {
	background-image: url("../../Medias/etape-3.svg");
}
.etape-4 {
	background-image: url("../../Medias/etape-4.svg");
}
.etape-5 {
	background-image: url("../../Medias/etape-5.svg");
}


/* SUIVI */
#tableSuivi {
	border: solid #dddddd 1px;
}

/* DEPOT */
#billPanel {
    display: block;
    position: fixed;
    right: 10px;
	top: 153px;
}

.normal {
    font-weight: normal;
}

/* Scroll to top/bottom */
.scroll {
    display: block;
    position: fixed;
    visibility: visible;
    opacity: .5;
    z-index: 110;
    right: 2em;
    width: 1.7em;
    height: 1.7em;
    background: rgba(100,100,100,.9);
    text-align: center;
    border-radius: .2143em;
    cursor: pointer;

    -webkit-transition: border-radius .2s ease, color .2s ease;
    transition: border-radius .2s ease, color .2s ease;
}
.backToTop {
    bottom: 5em;
}
.backToBottom {
    top: 5em;
}

.scroll:hover{
    border-radius: 2em;
    color: white;
}

/* GOOGLE API */
#map {
    background: #cccccc center no-repeat url("../../Medias/chargement.gif");
	height: 600px;
	width: 600px;
}
#map img {
	max-width: none;
	vertical-align: inherit;
}


/* RESPONSIVE */
@media (min-width: 768px) {
	.featurette-heading {
		font-size: 50px;
	}
}

@media (max-width: 450px) {
    #map {
        height: 300px;
        width: 300px;
    }
}
@media (min-width: 450px) and (max-width: 580px) {
    #map {
        height: 400px;
        width: 400px;
    }
}
@media (min-width: 580px) and (max-width: 720px) {
    #map {
        height: 500px;
        width: 500px;
    }
}
@media not screen {
	#billPanel {
		display: none;
	}
}

@media (max-width: 990px) {
	#billPanel {
		display: none;
	}
}